<a href="https://colab.research.google.com/github/Zishan-Shao/CSC374/blob/main/Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2: Exploratory Data Analysis and Ensembles¶
In this project, you will learn and apply exploratory data analysis to a real-life structured dataset, a key first step in practical machine learning. Then, you will apply machine learning and ensemble methods to solve classification or regression problems on this data.

Due Date: March 20, 2023

## The Dataset 
The government of Mexico has provided open access to a very large amount of data about human cases associated with COVID-19. There is historical data for each year since 2020. We will work with the historical data from 2021. Use this __[link](https://www.gob.mx/salud/documentos/datos-abiertos-bases-historicas-direccion-general-de-epidemiologia)__ to access their website. Then download the dataset named: "Cierre Datos Abiertos Históricos 2021"

The dataset contains 40 columns that can be grouped as follows:
1. Medical history
* 14  NEUMONIA               int64 
* 17  EMBARAZO               int64 
* 20  DIABETES               int64 
* 21  EPOC                   int64 (Enfermedad Pulmonar Obstructiva Crónica)
* 22  ASMA                   int64 
* 23  INMUSUPR               int64 
* 24  HIPERTENSION           int64 
* 25  OTRA_COM               int64 (Another comorbidity)
* 26  CARDIOVASCULAR         int64 
* 27  OBESIDAD               int64 
* 28  RENAL_CRONICA          int64 
* 29  TABAQUISMO             int64 


2. Demographic
* 2   ORIGEN                 int64 
* 3   SECTOR                 int64 (Health service provider)
* 4   ENTIDAD_UM             int64 (State)
* 5   SEXO                   int64 
* 6   ENTIDAD_NAC            int64 (Address)
* 7   ENTIDAD_RES            int64 (Address)
* 8   MUNICIPIO_RES          int64 (Address)
* 15  EDAD                   int64 
* 16  NACIONALIDAD           int64 
* 18  HABLA_LENGUA_INDIG     int64 (Speaks indigenous language)
* 19  INDIGENA               int64 
* 36  MIGRANTE               int64 
* 37  PAIS_NACIONALIDAD      object (Nationality)
* 38  PAIS_ORIGEN            object (Country of origin)

3. Hospitalization
* 0   FECHA_ACTUALIZACION    object 
* 1   ID_REGISTRO            object
* 9   TIPO_PACIENTE          int64 
* 10  FECHA_INGRESO          object
* 11  FECHA_SINTOMAS         object
* 12  FECHA_DEF              object
* 13  INTUBADO               int64 
* 30  OTRO_CASO              int64 
* 31  TOMA_MUESTRA_LAB       int64 
* 32  RESULTADO_LAB          int64 
* 33  TOMA_MUESTRA_ANTIGENO  int64 
* 34  RESULTADO_ANTIGENO     int64 
* 35  CLASIFICACION_FINAL    int64 (Diagnosis)
* 39  UCI                    int64 

CLASIFICACION_FINAL (1-7) indicates the diagnosis given to the patient. The values are:
* 1 = Covid-19 Positive
* 2 = Covid-19 Positive
* 3 = SARS-CoV-2 Positive
* 4 = Invalid
* 5 = No lab test
* 6 = Suspicious case
* 7 = Covid-19 Negative

The data was obtained by testing for COVID-19 10% of all the patients diagnosed with a viral respiratory illness at any of 475 hospitals and medical centers in Mexico in 2021.

## Exploratory Data Analysis
What does the dataset look like? Before applying any machine learning, it's important that we get a feeling for what information is in the data, a sort of summary in terms of statistics or data visualization would be ideal. This is the role of exploratory data analysis (EDA).

There are a number of websites that illustrate key processes employed in EDA. Here are a few showing specific steps and Python code:
* __[How To Perform Exploratory Data Analysis -A Guide for Beginners](https://www.analyticsvidhya.com/blog/2021/08/how-to-perform-exploratory-data-analysis-a-guide-for-beginners/)__
* __[Exploratory Data Analysis of Hotel booking demand — A Case Study](https://blog.devgenius.io/exploratory-data-analysis-of-hotel-booking-demand-a-case-study-4a27bff589ca)__
* __[A Gentle Introduction to Exploratory Data Analysis](https://towardsdatascience.com/a-gentle-introduction-to-exploratory-data-analysis-f11d843b8184)__
* __[A Full Guide to Data Preparation for Machine Learning](https://deepchecks.com/preparing-your-data-for-machine-learning-full-guide/)__

<div class="alert alert-block alert-info">
<b>Task 1:</b> Your first main task in Project 2 is to learn basic techniques of EDA an apply them to our COVID-19 dataset. The key question we want to address is whether a COVID-19 diagnosis can be predicted for an individual, given specific clinical and demographic information about them.
</div>

What columns in the dataset should be considered? Which ones could be/should be ignored? What type of information do they contain? These and several other questions should be addressed in this part. **Use EDA to explore the data and describe, in a maximum of 2 pages, the questions you have addressed.** Brief and organized written insight matters more than just a bunch of plots/graphs without context.

## Machine Learning for Covid-19 Prediction

As previously indicated, we want to predict a CODIV-19 diagnosis for an individual, given specific clinical and demographic information about them. 
One can predict a 0/1 (no-covid/covid) classification or predict some value indicating risk (0 - 1) that can then be used with an appropriate threshold for classification. 

<div class="alert alert-block alert-info">
<b>Task 2:</b> Your objective here is two-fold:
    1) explore the performance of selected supervised classification methods studied in class to solve our problem, and
    2) explore the performance of ensemble learning methods 
</div>
 
In a maximum of 4 pages, describe your methodology, the results obtained, and a discussion of your results. Once again, focuse on quality over quantity.

How much data should be used for training and testing my selected classifiers? How to select a representative data sample for this? These and several other question need to be addressed before running classification code. Feel free to use online resources as guidance. Do not use someone else's code without properly acknowledging the source. 

<div class="alert alert-block alert-danger">
<b>Code:</b> The code you write for this assignment does not count towards the 6-page limit. However, you should still turn in your code as part of your report. Turn in everything in a Jupyiter notebook.
</div>

***
## Some sample code for EDA is provided below

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set_style("whitegrid")
plt.style.use("fivethirtyeight")

In [3]:
from google.colab import drive
drive.mount('/content/drive')

# !ls 'drive'

!ls -a 'drive/MyDrive/CSC374'

# Load palm data
filename = 'drive/MyDrive/CSC374/COVID19MEXICO2021.csv'

Mounted at /content/drive
 “colab-tutorial.ipynb”的副本   LinearSVMs.ipynb    Project-2.ipynb
 COVID19MEXICO2021.csv	        Personal_data
'Homework #1.ipynb'	       'Project #1.ipynb'

In [4]:
com_df = pd.read_csv(filename, dtype = str)
com_df.head()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,09,2,09,09,002,1,...,1,2,97,1,2,7,99,México,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,035,1,...,1,1,2,2,97,7,99,México,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,México,97,97
3,2022-08-09,z405fd,1,12,09,2,09,09,011,1,...,1,2,97,1,2,7,99,México,97,97
4,2022-08-09,z26b82,2,12,09,1,09,09,007,1,...,2,2,97,1,2,7,99,México,97,97

In [5]:
com_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8830345 entries, 0 to 8830344
Data columns (total 40 columns):
 #   Column                 Dtype
---  ------                 -----
 0   FECHA_ACTUALIZACION    object
 1   ID_REGISTRO            object
 2   ORIGEN                 object
 3   SECTOR                 object
 4   ENTIDAD_UM             object
 5   SEXO                   object
 6   ENTIDAD_NAC            object
 7   ENTIDAD_RES            object
 8   MUNICIPIO_RES          object
 9   TIPO_PACIENTE          object
 10  FECHA_INGRESO          object
 11  FECHA_SINTOMAS         object
 12  FECHA_DEF              object
 13  INTUBADO               object
 14  NEUMONIA               object
 15  EDAD                   object
 16  NACIONALIDAD           object
 17  EMBARAZO               object
 18  HABLA_LENGUA_INDIG     object
 19  INDIGENA               object
 20  DIABETES               object
 21  EPOC                   object
 22  ASMA                   object
 23  INMUSUPR               object
 24  HIPERTENSION           object
 25  OTRA_COM               object
 26  CARDIOVASCULAR         object
 27  OBESIDAD               object
 28  RENAL_CRONICA          object
 29  TABAQUISMO             object
 30  OTRO_CASO              object
 31  TOMA_MUESTRA_LAB       object
 32  RESULTADO_LAB          object
 33  TOMA_MUESTRA_ANTIGENO  object
 34  RESULTADO_ANTIGENO     object
 35  CLASIFICACION_FINAL    object
 36  MIGRANTE               object
 37  PAIS_NACIONALIDAD      object
 38  PAIS_ORIGEN            object
 39  UCI                    object
dtypes: object(40)
memory usage: 2.6+ GB

In [6]:
com_df.describe()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
count,8830345,8830345,8830345,8830345,8830345,8830345,8830345,8830345,8830345,8830345,...,8830345,8830345,8830345,8830345,8830345,8830345,8830345,8830345,8830345,8830345
unique,1,8830345,2,15,32,2,33,32,562,2,...,3,2,4,2,3,7,3,172,125,4
top,2022-08-09,z53cb3,2,12,09,1,09,09,007,1,...,2,2,97,1,2,7,99,México,97,97
freq,8830345,1,7013750,5013213,3463344,4684334,2878442,3023394,685479,8264169,...,5877111,6739796,6739796,7144743,5476579,6054994,8767533,8762132,8818031,8264169

In [7]:
com_df.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [8]:
idx=com_df['CLASIFICACION_FINAL'].notnull()

In [9]:
print(f'Dataset size: {com_df.shape}')
print(f'Non-null rows: {idx.notnull().sum()}')

Dataset size: (8830345, 40)
Non-null rows: 8830345

In [10]:
com_df['CLASIFICACION_FINAL']

0          7
1          7
2          7
3          7
4          7
          ..
8830340    7
8830341    7
8830342    7
8830343    7
8830344    7
Name: CLASIFICACION_FINAL, Length: 8830345, dtype: object

In [11]:
categorical_val = []
continous_val = []
for column in com_df.columns:
    # print('==============================')
    # print(f"{column} : {df[column].unique()}")
    if len(com_df[column].unique()) <= 10:
        categorical_val.append(column)
    else:
        continous_val.append(column)

In [12]:
print("Categorical features:")
print(categorical_val)
print('Continuous features:')
print(continous_val)

Categorical features:
['FECHA_ACTUALIZACION', 'ORIGEN', 'SEXO', 'TIPO_PACIENTE', 'INTUBADO', 'NEUMONIA', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM', 'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO', 'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB', 'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL', 'MIGRANTE', 'UCI']
Continuous features:
['ID_REGISTRO', 'SECTOR', 'ENTIDAD_UM', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'EDAD', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN']

In [13]:
feature_columns = com_df.columns.to_list()

In [14]:
for column in feature_columns:
    print("============================================")
    print(f"{column} ==> Missing zeros : {len(com_df.loc[com_df[column] == 0])}")

============================================
FECHA_ACTUALIZACION ==> Missing zeros : 0
============================================
ID_REGISTRO ==> Missing zeros : 0
============================================
ORIGEN ==> Missing zeros : 0
============================================
SECTOR ==> Missing zeros : 0
============================================
ENTIDAD_UM ==> Missing zeros : 0
============================================
SEXO ==> Missing zeros : 0
============================================
ENTIDAD_NAC ==> Missing zeros : 0
============================================
ENTIDAD_RES ==> Missing zeros : 0
============================================
MUNICIPIO_RES ==> Missing zeros : 0
============================================
TIPO_PACIENTE ==> Missing zeros : 0
============================================
FECHA_INGRESO ==> Missing zeros : 0
============================================
FECHA_SINTOMAS ==> Missing zeros : 0
============================================
FECHA_DEF ==> Missing zeros : 0
============================================
INTUBADO ==> Missing zeros : 0
============================================
NEUMONIA ==> Missing zeros : 0
============================================
EDAD ==> Missing zeros : 0
============================================
NACIONALIDAD ==> Missing zeros : 0
============================================
EMBARAZO ==> Missing zeros : 0
============================================
HABLA_LENGUA_INDIG ==> Missing zeros : 0
============================================
INDIGENA ==> Missing zeros : 0
============================================
DIABETES ==> Missing zeros : 0
============================================
EPOC ==> Missing zeros : 0
============================================
ASMA ==> Missing zeros : 0
============================================
INMUSUPR ==> Missing zeros : 0
============================================
HIPERTENSION ==> Missing zeros : 0
============================================
OTRA_COM ==> Missing zeros : 0
============================================
CARDIOVASCULAR ==> Missing zeros : 0
============================================
OBESIDAD ==> Missing zeros : 0
============================================
RENAL_CRONICA ==> Missing zeros : 0
============================================
TABAQUISMO ==> Missing zeros : 0
============================================
OTRO_CASO ==> Missing zeros : 0
============================================
TOMA_MUESTRA_LAB ==> Missing zeros : 0
============================================
RESULTADO_LAB ==> Missing zeros : 0
============================================
TOMA_MUESTRA_ANTIGENO ==> Missing zeros : 0
============================================
RESULTADO_ANTIGENO ==> Missing zeros : 0
============================================
CLASIFICACION_FINAL ==> Missing zeros : 0
============================================
MIGRANTE ==> Missing zeros : 0
============================================
PAIS_NACIONALIDAD ==> Missing zeros : 0
============================================
PAIS_ORIGEN ==> Missing zeros : 0
============================================
UCI ==> Missing zeros : 0

# Project 2: Mexico Covid Data Analysis with Machine Learning Methods

## Introduction

## Exploratory Data Analysis (EDA)

## Model Building (Part 1): supervised classification methods

## Model Building (Part 2): ensembled methods

## Evaluation & Model Selection

## Discussiion